:root{
    --primary: #4B3F72;
    --secondary: #311f48;
    --bg: #e4d7fa;
    --accent: #CF4D6F;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--secondary);
    background-color: var(--bg);
}
.header{
    text-align: center;
    padding: 20px;
}
.input_field{
    display: flex;

}
.content_box{
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
}
table, td, th{
    border: 1px solid;
    border-collapse: collapse;
    padding: 5px;
}
input{
    outline: none;
    border: 0px;
    padding: 5px;
}
.buttons{
    display: flex;
    flex-direction: column;
}
.buttonnn{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
.buttonnn:hover{
    background-color: var(--primary);
    color: aliceblue;
}
.output_field{
    margin: 10px;
    width: 400px;
    height: 500px;
    background-color: var(--accent);
    border: 5px solid var(--secondary);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
#disp{
    background-color: var(--accent);
    margin: 10px;
}